.line-number {
    -fx-background-color: #F0F0F0;
    -fx-border-color: #D0D0D0;
    -fx-border-width: 0 1px 0 0 !important;
    -fx-font-family: Monospaced;
    -fx-font-size: 11pt;
    -fx-margin: 0 10px 0 0;
    -fx-padding: 0 10px 0 4px;
    -fx-text-fill: #666;
}

.active {
    -fx-effect: dropshadow(gaussian, orange, 10, 0, 0, 0);
}

.paragraph-box {
    -fx-font-weight: 900;
    -fx-fill: black;
}