#queryRunButton .glyph-font .text {
    -fx-fill: green;
}

/*
 * Default highlighting
 */

.text {
    -fx-font-weight: 900;
    -fx-fill: black;
    -fx-background-color: aquamarine;
}

/*
 * Syntax highlighting
 */

.brace, .bracket, .comma {
}

.key {
    -fx-fill: teal;
}

.string {
    -fx-fill: blue;
}

.bool {
    -fx-fill: darkblue;
}

.null {
    -fx-fill: darkblue;
}

.int {
    -fx-fill: darkred;
}

.double {
    -fx-fill: darkred;
}

/*
 * Keyword highlighting
 */

.query-function, .score-function, .filter-parser {
    -fx-underline: true;
}

/*
 * Error highlighting
 */

.error {
    -fx-fill: red;
    -fx-underline: true;
}