/*
 * .noHeaderTableView
 */

 .noBackgroundInsets {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/*
 * .splitPaneToolBar / .splitPaneToolBarLabel
 */

.splitPaneToolBar {
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 0 6 0 6;
    -fx-font-size: 12;
}

.splitPaneToolBar .button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.splitPaneToolBar .button .glyph-font .text {
    -fx-font-family: FontAwesome;
    -fx-font-smoothing-type: gray;
    -fx-fill: #A9A9A9;
}

.splitPaneToolBar .button:hover .glyph-font .text, .splitPaneToolBar .button:armed .glyph-font .text {
    -fx-fill: #000000;
}