.anchor-pane, .split-pane, .split-pane .titled-pane, .split-pane .titled-pane > .content {
    -fx-border-width: 0;
}
.split-pane .titled-pane > .title {
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}